<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <span>Create your account</span>
          <form>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Name"/>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Surname"/>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Username"/>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="Password"/>
            </div><div class="mb-3">
              <input type="password" class="form-control" placeholder="Re-type password"/>
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="E-mail"/>
            </div>
            <button routerLink="/" class="btn btn-secondary float-start">Back</button>
            <button class="btn btn-success float-end">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
