html{
  height: 100%;
  width: 100%;
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
}

/* LOGO */
h1{
  font-family: 'Pokemon Solid', sans-serif;
  color: #ffcc01;
  -webkit-text-stroke: 2px #365eaa;
}

.logo{
  display: flex;
  justify-content: center;
  font-size: 7vh;
  margin-bottom: 3vh;
}

.container{
  height: 100%;
}

