button{
  width: 20vh;
  font-family: 'Pokemon Solid', sans-serif;
}



/*@include media-breakpoint-down(md)*/
@media (max-width: 767.98px) { 
  .gif{
    height:20vh; 
    margin-top: 5vh; 
    width: 30vh;
  }
 }


/*@include media-breakpoint-up(md)*/
@media (min-width: 768px) { 
  .gif{
    height:20vh; 
    margin-top: 5vh; 
    width: 30vh;
    margin-left: 20vh;
  }
 }