<div class="container-sm-fluid inside-frame d-flex flex-column">
  <div class="card d-flex flex-column " style="background-color: transparent; border: none;">
    <div class="d-flex justify-content-center">
      <img src="../../../assets/img/user.png" class="card-img-top" alt="Avatar"
           style="width:100px; border-radius: 50%;">
    </div>
    <div class="card-body text">
      <h2 class="card-title">USERNAME</h2>
      <p class="card-text">
        <img src="../../../assets/img/email.png" class="card-img-top" alt="Avatar"
                                style="width:10%;">
        email@email.com
      </p>
      <p class="card-text">
        <img src="../../../assets/img/trofeo.png" class="card-img-top" alt="Avatar"
             style="width:10%;">
        x Victories</p>
    </div>
  </div>
</div>
